---
import { type CollectionEntry, getCollection } from 'astro:content';
import Base from '../../layouts/Base.astro';
import { SITE_TITLE } from '../../consts';
import Card from '../../components/Card.astro';

export async function getStaticPaths() {
  const posts = await getCollection('posts');
  return posts.map((post) => ({
    params: { slug: post.slug },
    props: post,
  }));
}
type Props = CollectionEntry<'posts'>;

const post = Astro.props;
const { Content } = await post.render();
const { title, pubDate, author, marp, description } = post.data;
---

<Base title={`${title} | ${SITE_TITLE}`} description={description}>
  <Card>
    <h1 class="mb-4 text-5xl font-bold text-black">
      {title}
    </h1>
    <h2 class="mb-4 text-right text-2xl font-semibold text-red-700">
      by {author}
    </h2>
    <article class:list={['prose', 'max-w-none', { 'prose-hr:hidden': marp }]}>
      <Content />
    </article>
    <p class="mt-8 text-right text-xl text-gray-500">
      Written on: {
        pubDate
          .toLocaleDateString('ja', {
            year: 'numeric',
            month: '2-digit',
            day: '2-digit',
          })
          .replaceAll('/', '-')
      }
    </p>
  </Card>
</Base>
