---
import { type CollectionEntry, getCollection } from 'astro:content';
import { SITE_TITLE } from '../../consts';
import { IconCalendarEvent, IconUser } from '@tabler/icons-react';
import Article from '../../layouts/Article.astro';
import MarpSwiper from '../../components/MarpSwiper.astro';

export async function getStaticPaths() {
  const posts = await getCollection('archive');
  return posts.map((post) => ({
    params: { slug: post.slug },
    props: post,
  }));
}
type Props = CollectionEntry<'archive'>;

const post = Astro.props;
const { Content } = await post.render();
const { title, date, author, marp, description, image } = post.data;
---

<Article
  title={`${title} | ${SITE_TITLE}`}
  description={description}
  image={image?.src.src}
>
  <header slot="header">
    <h1 class="mb-8 text-3xl font-bold">
      {title}
    </h1>
    <div class="mb-2 flex gap-1 text-gray-500">
      <IconCalendarEvent />
      <time datetime={date.toISOString()}>
        {
          date.toLocaleDateString('ja', {
            year: 'numeric',
            month: 'numeric',
            day: 'numeric',
            weekday: 'short',
          })
        }
      </time>
    </div>
    <div class="flex gap-1 text-gray-500">
      <IconUser />
      {author}
    </div>
  </header>

  <div class="mb-16 overflow-hidden rounded-xl border-2 border-gray-200">
    <MarpSwiper markdown={post.body} />
  </div>

  <section class:list={['prose max-w-none', { 'prose-hr:hidden': marp }]}>
    <Content />
  </section>
</Article>
