---
import { Timeline } from 'react-twitter-widgets';
import { Terminal } from '../components/Terminal';
import Base from '../layouts/Base.astro';
import { SITE_DESCRIPTION, SITE_TITLE } from '../consts';
import { SCHEDULE, toDurationString } from '../schedule';
import { IconPlayerPlayFilled } from '@tabler/icons-react';
import Swiper from '../components/Swiper.astro';
import { Image } from 'astro:assets';
import Slider1 from '../assets/Slider1.png';
import Slider2 from '../assets/Slider2.png';
import Slider3 from '../assets/Slider3.png';
import Slider4 from '../assets/Slider4.png';
import Slider5 from '../assets/Slider5.png';
---

<Base title={SITE_TITLE} description={SITE_DESCRIPTION}>
  <Swiper>
    <Image
      src={Slider1}
      alt="Slider1"
      width="720"
      class="swiper-slide object-cover"
    />
    <Image
      src={Slider2}
      alt="Slider2"
      width="720"
      class="swiper-slide object-cover"
    />
    <Image
      src={Slider3}
      alt="Slider3"
      width="720"
      class="swiper-slide object-cover"
    />
    <Image
      src={Slider4}
      alt="Slider4"
      width="720"
      class="swiper-slide object-cover"
    />
    <Image
      src={Slider5}
      alt="Slider5"
      width="720"
      class="swiper-slide object-cover"
    />
  </Swiper>

  <div class="mx-auto max-w-screen-lg px-4 py-8">
    <section class="mb-8">
      <h1 class="mb-8 text-4xl font-bold">About Us</h1>
      <div class="prose mb-8 max-w-none">
        <p>
          OpenTUTは、学生の大学生活を快適にするための情報基盤を整える、有志の団体です。
          豊橋技科大生の学生生活を支える時間割アプリの「TUTility」をリリースし、日々改善や機能追加をしています。
          また、プログラミングの経験が浅い方や、チームでの開発をしてみたい方が気軽に参加できる場所を作ることを目的としており、これを実現するためのメンバーを募集中です。
        </p>
        <p>
          現在、週1回の対面による活動で、自分の紹介したい技術を発表するLT会と、自分の学びたいことやReactのチュートリアルを行う勉強会を開催しています。
          TUTilityのほかにも、学生生活を支える新規プロジェクトを開発中です。興味のある方は、ページ上部の𝕏(旧Twitter)へご連絡ください。
        </p>
      </div>
      <a
        href="/about"
        class="flex items-center justify-center gap-1 rounded-xl border-2 border-tut-red p-4 text-center text-lg font-bold transition-colors hover:text-tut-red"
      >
        <span class="text-tut-red"><IconPlayerPlayFilled /></span>
        <div><span class="align-middle">もっと詳しく</span></div>
      </a>
    </section>

    <div class="mb-8 grid grid-cols-1 gap-4 md:grid-cols-3">
      <section class="flex flex-col rounded-2xl bg-white p-4 shadow-md">
        <h2 class="mb-4 text-2xl font-bold">Projects</h2>
        <div class="prose mb-8 max-w-none flex-1">
          <p>現在進行中のプロジェクトについて紹介しています。</p>
        </div>
        <a
          href="/projects"
          class="flex items-center justify-center gap-1 rounded-xl border-2 border-tut-red p-4 text-center text-lg font-bold transition-colors hover:text-tut-red"
        >
          <span class="text-tut-red"><IconPlayerPlayFilled /></span>
          <div><span class="align-middle">プロジェクト紹介へ</span></div>
        </a>
      </section>

      <section class="flex flex-col rounded-2xl bg-white p-4 shadow-md">
        <h2 class="mb-4 text-2xl font-bold">Archive</h2>
        <div class="prose mb-8 max-w-none flex-1">
          <p>LT会で発表した内容やブログ記事を掲載しています。</p>
        </div>
        <a
          href="/archive"
          class="flex items-center justify-center gap-1 rounded-xl border-2 border-tut-red p-4 text-center text-lg font-bold transition-colors hover:text-tut-red"
        >
          <span class="text-tut-red"><IconPlayerPlayFilled /></span>
          <div><span class="align-middle">記事一覧へ</span></div>
        </a>
      </section>

      <section class="flex flex-col rounded-2xl bg-white p-4 shadow-md">
        <h2 class="mb-4 text-2xl font-bold">Introductions</h2>
        <div class="prose mb-8 max-w-none flex-1">
          <p>部員が興味ある事をゆるくかいてます。</p>
        </div>
        <a
          href="/introductions"
          class="flex items-center justify-center gap-1 rounded-xl border-2 border-tut-red p-4 text-center text-lg font-bold transition-colors hover:text-tut-red"
        >
          <span class="text-tut-red"><IconPlayerPlayFilled /></span>
          <div><span class="align-middle">部員一覧へ</span></div>
        </a>
      </section>
    </div>

    <div class="grid grid-cols-1 gap-4 md:grid-cols-2">
      <iframe
        src="https://calendar.google.com/calendar/embed?src=22c65092319707859e18f2b20cc2f841cb29d8fb8f759dcd64c1ef907a7cd123%40group.calendar.google.com&ctz=Asia%2FTokyo"
        style="border: 0"
        width="100%"
        height="500"></iframe>
      <Terminal client:load />
    </div>
  </div>
</Base>
