---
import { getCollection } from 'astro:content';
import { Image } from 'astro:assets';
import Layout from '../layouts/Layout.astro';

const projects = (await getCollection('projects')).sort(
  (a, b) => b.data.date.valueOf() - a.data.date.valueOf(),
);

const posts = (await getCollection('posts')).sort(
  (a, b) => b.data.date.valueOf() - a.data.date.valueOf(),
);
---

<Layout title="部員の活動 | OpenTUT">
  <div class="min-h-screen bg-gray-100 text-gray-800">
    <div class="container mx-auto px-5 py-10">
      <main>
        <section
          id="about"
          class="mx-2 mb-5 border-2 border-t-tut-red bg-white p-4 shadow-md"
        >
          <h2 class="mb-3 text-2xl font-bold">部員の活動</h2>
          <p>部員がLT会で発表した技術について紹介しています。</p><br />
          <p>勉強会や、進行中のプロジェクトについての紹介もしています。</p><br
          /><br />
          <h3 class="mb-3 text-xl font-bold">進行中のプロジェクト</h3>
          <div class="space-x-4 overflow-y-auto">
            {
              projects.map((post) => (
                <article class="w-96 overflow-hidden rounded-lg border border-gray-300 bg-white shadow-lg">
                  <div class="p-6">
                    <h2 class="mb-2 text-2xl font-bold text-gray-800">
                      {post.data.title}
                    </h2>
                    <p class="mb-4 text-gray-700">{post.data.description}</p>
                    <a
                      href={`/projects/${post.slug}`}
                      class="flex justify-end font-semibold text-red-700 hover:text-red-800"
                    >
                      Read more...
                    </a>
                  </div>
                </article>
              ))
            }
          </div><br />
          <h3 class="mb-3 text-xl font-bold">Archive</h3>
          <div class="flex space-x-2 overflow-x-auto">
            {
              posts.map((post) => (
                <article>
                  <div class="flex h-full w-96 max-w-sm flex-col rounded-lg border border-gray-200 bg-white shadow">
                    {post.data.image ? (
                      <Image
                        src={post.data.image.url}
                        alt={post.data.image.alt}
                        width={1920}
                        class="aspect-video rounded-t-lg object-cover"
                      />
                    ) : null}
                    <div class="flex-grow p-5">
                      <h2 class="mb-2 text-2xl font-bold text-gray-800">
                        {post.data.title}
                      </h2>
                    </div>
                    <a
                      href={`/posts/${post.slug}`}
                      class="mt-auto flex justify-end p-5 font-semibold text-red-700 hover:text-red-800"
                    >
                      Read more...
                    </a>
                  </div>
                </article>
              ))
            }
          </div>
        </section><br /><br />
      </main>
    </div>
  </div>
</Layout>
