---
import { type CollectionEntry, getCollection } from 'astro:content';
import { SITE_TITLE } from '../../consts';
import { IconCalendarEvent } from '@tabler/icons-react';
import Article from '../../layouts/Article.astro';

export async function getStaticPaths() {
  const posts = await getCollection('introductions');
  return posts.map((post) => ({
    params: { slug: post.slug },
    props: post,
  }));
}
type Props = CollectionEntry<'introductions'>;

const post = Astro.props;
const { Content } = await post.render();
const { title, date, description, image } = post.data;
---

<Article
  title={`${title} | ${SITE_TITLE}`}
  description={description}
  image={image?.src.src}
>
  <header slot="header">
    <h1 class="mb-8 text-3xl font-bold">
      {title}
    </h1>
    <div class="flex gap-1 text-gray-500">
      <IconCalendarEvent />
      <time datetime={date.toISOString()}>
        {
          date.toLocaleDateString('ja', {
            year: 'numeric',
            month: 'numeric',
            day: 'numeric',
            weekday: 'short',
          })
        }
      </time>
    </div>
  </header>

  <section class="prose max-w-none">
    <Content />
  </section>
</Article>
