---
import { type CollectionEntry, getCollection } from 'astro:content';
import Base from '../../layouts/Base.astro';
import { SITE_TITLE } from '../consts';

export async function getStaticPaths() {
  const posts = await getCollection('projects');
  return posts.map((post) => ({
    params: { slug: post.slug },
    props: post,
  }));
}
type Props = CollectionEntry<'projects'>;

const post = Astro.props;
const { Content } = await post.render();
const { title, pubDate, description } = post.data;
---

<Base title={`${title} | ${SITE_TITLE}`} description={description}>
  <div class="min-h-screen bg-gray-100 text-gray-800">
    <div class="container mx-auto px-5 py-10">
      <h1>{title}</h1>
      <div
        class="mb-4 mt-10 w-full max-w-6xl rounded border-t-8 border-red-700 bg-white px-8 pb-8 pt-6 shadow-md"
      >
        <h1 class="mb-4 text-5xl font-bold text-black">
          {title}
        </h1>
        <div class="prose max-w-none">
          <Content />
        </div>
        <p class="mt-8 text-right text-xl text-gray-500">
          Written on: {
            pubDate
              .toLocaleDateString('ja', {
                year: 'numeric',
                month: '2-digit',
                day: '2-digit',
              })
              .replaceAll('/', '-')
          }
        </p>
      </div>
    </div>
  </div>
</Base>
